[user]
	name = sakanobu
	email = grapejuice100percent@gmail.com
[color]
	ui = auto
[alias]
	st = status
	br = branch
	co = checkout
	cm = commit
	push-f = push --force-with-lease --force-if-includes
[core]
	pager = less -cm
  quotepath = false
	editor = vim -c \"set fenc=utf-8\"
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/tyobi0913/.stCommitMsg
	verbose = true
[pull]
	rebase = true
	ff = only
[merge]
	ff = false
[fetch]
	prune = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
