[user]
	name = sakanobu
	email = grapejuice100percent@gmail.com
[color]
	ui = auto
[alias]
	st = status
	co = commit
[core]
	excludesfile = /Users/tyobi0913/.gitignore_global
	pager = less -cm
  quotepath = false
	editor = vim -c \"set fenc=utf-8\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/tyobi0913/.stCommitMsg
	verbose = true
