# .vimをどうにかしてエラーなく入れたい故に参考にした↓
# https://www.reddit.com/r/vim/comments/3cohmv/manage_dotfiles_with_vimplug_and_github/
# ただ､冒頭の# Ignore everythingの*はコメントアウト

# Ignore everything
# *

# But not these files...
!.gitignore
!.vimrc
!.vim
!.vim/**
!.setup_dotfiles.sh

# Ignore the installed plugins
.vim/plugged/**

# 個人的に無視したいの
aaa*
get-pip.py
