# Bash で Readline が使われているときだけ以下の設定を有効にする
$if Bash
  # 補完の失敗などによるベル音をオフ
  set bell-style none

  # 補完候補の共通部分を色付きで表示
  set colored-completion-prefix on

  # 補完候補をファイル種別に応じて色分け
  set colored-stats on

  # Tab 補完時大文字小文字無視
  set completion-ignore-case on

  # シンボリックリンク先がディレクトリの場合、補完表示でディレクトリとして扱いやすくする
  set mark-symlinked-directories on

  # menu-complete を使う際に、候補の共通接頭辞を強調表示
  set menu-complete-display-prefix on

  # Tab 補完を 2 回ではなく 1 回押すだけで表示
  set show-all-if-ambiguous on

  # 補完候補の末尾にファイル種別を示す記号を付与
  set visible-stats on

  # Bash のコマンドライン編集を Emacs モードではなく vi モードに
  set editing-mode vi

  # この行以降のキーバインドを vi の command mode つまり vim の normal mode に似たモードとして適用
  set keymap vi-command

  # command mode 時に <C-l> でターミナルの画面をキレイに
  "\C-l": clear-screen

  # command mode 時に v を押すとエディタによる編集画面に遷移する機能(edit-and-execute-command)をオフにする
  v: ""

  # この行以降のキーバインドを vi の insert mode つまり vim の insert mode に似たモードとして適用
  set keymap vi-insert

  # insert mode 時に <C-l> でターミナルの画面をキレイに
  "\C-l": clear-screen

  # insert mode 時に jj で command mode に切り替え
  "jj": vi-movement-mode

  # insert mode 時ではカーソルの前後 1 文字移動に関して Emacs モードと同じキーバインドにする
  "\C-f": forward-char
  "\C-b": backward-char

  # insert mode 時ではカーソルの前後 1 文字削除に関して Emacs モードと同じキーバインドにする
  "\C-h": backward-delete-char
  "\C-d": delete-char

  # C-(n|p) や ↑ ↓ のカーソルキー でhistory-search
  "\C-p": history-search-backward
  "\C-n": history-search-forward
  "\e[A": history-search-backward
  "\e[B": history-search-forward
$endif
