appnope==0.1.0
astroid==2.0.4
autopep8==1.4.4
backcall==0.1.0
blessings==1.7
bpython==0.17.1
certifi==2018.10.15
chardet==3.0.4
curtsies==0.3.0
decorator==4.3.0
entrypoints==0.3
flake8==3.7.8
greenlet==0.4.15
idna==2.7
ipython==7.1.1
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.13.1
lazy-object-proxy==1.3.1
mccabe==0.6.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pudb==2019.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.2.0
pylint==2.1.1
requests==2.20.1
six==1.11.0
traitlets==4.3.2
typing==3.6.6
urllib3==1.24.1
urwid==2.0.1
wcwidth==0.1.7
wrapt==1.10.11
